nav a:visited, a:link {
  color: #FFFF;

  background-color: #52af2e;  /* default naturfreunde color ... invisible in nav bar, but everywhere else*/
}

a {
  color: #FFFF;
  padding: 5px 30px;
  text-decoration: none;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px; 
  border-radius: 4px;
}
     
a:hover {
  background-color: #459226;
}    

.active {
  border-bottom: 2px solid black;
}     

.active:hover {
}      