<h3>Admin Hüttenverwaltung</h3>
<p>Willkommen, {{name}}</p>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
  </li>
  <li class="nav-item">
  	 <a routerLink="./bookings" routerLinkActive="active">Buchungskalender</a>
  </li>
  <li class="nav-item">
    <a routerLink="./management" routerLinkActive="active">Hüttenverwaltung</a>
  </li>
</ul>

<router-outlet></router-outlet>