<h1>Buchung: Schritt 1 von 3</h1>

 
<!-- HTML form for creating a booking -->
<div class="row pt-5"> <!-- pt-5 means padding top of 5 -->
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Buchungsdetails</h3>
            </div>
 
            <div class="card-body">
                <form class="form" [formGroup]="create_booking_form" (ngSubmit)="createBooking()">
                    <div class="form-group"> 
                        <label for="">Erwachsene</label>
                        <input
                            formControlName="erwachsene"
                            type="number" name="erwachsene"
                            class="form-control" required />
             
                        <!-- show this error if the field is 'empty' and 'touched' -->
                        <div
                            *ngIf="create_booking_form.get('erwachsene').touched && create_booking_form.get('erwachsene').hasError('required')"
                            class="alert alert-danger">
                        Bitte geben Sie eine Personenzahl an.
                        </div>
                    </div>

                    <div class="form-group"> 
                        <label for="">Kinder</label>
                        <input
                            formControlName="kinder"
                            type="number" name="kinder"
                            class="form-control" required />
                 
                            <!-- show this error if the field is 'empty' and 'touched' -->
                            <div
                                *ngIf="create_booking_form.get('kinder').touched && create_booking_form.get('kinder').hasError('required')"
                                class="alert alert-danger">
                            Bitte geben Sie eine Personenzahl an.
                            </div>
                    </div>  

                    <div class="form-group"> 
                        <label for="">Anreisedatum</label>
                        <input
                            formControlName="checkinDatum"
                            type="date" name="checkinDatum"
                            class="form-control" required />
             
                        <!-- show this error if the field is 'empty' and 'touched' -->
                        <div
                            *ngIf="create_booking_form.get('checkinDatum').touched && create_booking_form.get('checkinDatum').hasError('required')"
                            class="alert alert-danger">
                        Bitte geben Sie das Anreisedatum an.
                        </div>
                    </div>    

                    <div class="form-group" auto> 
                        <label for="">Abreisedatum</label>
                        <input
                            formControlName="checkoutDatum"
                            type="date" name="checkoutDatum"
                            class="form-control" required />
             
                            <!-- show this error if the field is 'empty' and 'touched' -->
                            <div
                                *ngIf="create_booking_form.get('checkoutDatum').touched && create_booking_form.get('checkoutDatum').hasError('required')"
                                class="alert alert-danger">
                            Bitte geben Sie das Abreisedatum an.
                            </div>
                    </div>  
    
                    <button class="btn btn-primary float-right" type="submit" [disabled]="create_booking_form.invalid">Weiter</button>
                 
                </form>
            </div>
        </div>
    </div>
</div>