ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 40px 10px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    letter-spacing: 3px;
}

.month .mon {
    font-size: 40px;
    text-transform: uppercase;
}

.month .yea {
    font-size: 18px;
}

/* Previous button inside month header */
.month .prev {
    background-color: transparent;
    border: none;
    color: white;
    float: left;
    margin-top: 30px;
}

.month .prev:hover {
    background-color: #16a287;
    color: white;
    border-radius: 50%;
}

/* Next button */
.month .next {
    background-color: transparent;
    border: none;
    color: white;
    float: right;
    margin-top: 30px;
}

.month .next:hover {
    background-color: #16a287;
    color: white;
    border-radius: 50%;
}

/* Weekdays (Mon-Sun) */
.daysofmonth {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.daysofmonth li {
    display: inline-block;
    width: 3%;
    color: #2c3e50;
    text-align: center;
}

.daysofmonth .ZimmerHeading {
    margin: -10px;
    padding: 10px;
    width: 7%;
    color: white;
    background-color: #2c3e50;
    text-align: center;
}

/* Days (1-31) */
.occupation {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.occupation li {
    list-style-type: none;
    display: inline-block;
    width: 3%;
    text-align: center;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.occupation li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
} 


.occupation .zimmername {
    margin: -10px;
    padding: 10px;
    width: 7%;
    color: white;
    background-color: #2c3e50;
    text-align: center;
}

.occupation .xbutton {
    background-color: transparent;
    font-size: 12px;
    width: 100%;
    border: none;
    color: black;
    float: right;
    text-align: center;
    border-radius: 5px;
}

.occupation .xbutton:hover {
    background-color: #e17055;
    color: white;
    cursor: pointer;
}