<div class="row m-b-18px">
    <div class="col-md-12">
        <!-- button to create new product -->
        <a (click)="createBooking()" class='btn btn-primary pull-right' style="color: white">
            <span class='fa fa-plus-circle'></span> Neue Buchung
        </a>
    </div>
</div>
 
<div class="month"> 
  <ul>
    <button (click)="loadPreviousMonth()" type="button" class="prev">&#10094;</button>
    <button (click)="loadNextMonth()" type="button" class="next">&#10095;</button>
    <li class="mon">{{monthName}}</li>
    <li class="yea">{{year}}</li>
  </ul>
</div>


<ul class="daysofmonth">
  <li class="ZimmerHeading">Zimmer</li>
  <li *ngFor="let day of days">{{day}}</li>
</ul>

<ul *ngFor="let zimmer of zimmerArr" class="occupation">
    
    <li class="zimmername">{{zimmer.bezeichnung}}</li>
    
    <li *ngFor="let day of days">
        <div *ngFor="let booking of getBookingsForRoom(zimmer.zimmerID)">
            <div *ngIf="displaythis(day, booking)">
                <button (click)="readOneBooking(booking.buchungID)" type="button" class="xbutton">X</button>
            </div>
        </div>
    </li>
    
</ul>



<div class="row">
    <div class="col-md-12">
 
        <!-- HTML table for our list of product records -->
        <table class='table table-hover table-responsive table-bordered'>
 
            <tr>
                <th>BuchungID</th>
                <th>Vorname</th>
                <th>Nachname</th>
        				<th>Erwachsene</th>
        				<th>Kinder</th>
        				<th>Von</th>
        				<th>Bis</th>
            </tr>
 
            <!-- Use *ngFor directive to loop throught our list of products. -->
            <tr *ngFor="let booking of bookingsOfMonth">
                <td>{{booking.buchungID}}</td>
                <td>{{booking.buchenderVorname}}</td>
                <td>{{booking.buchenderNachname}}</td>
                <td>{{booking.erwachsene}}</td>
                <td>{{booking.kinder}}</td>
                <td>{{booking.checkinDatum}}</td>
                <td>{{booking.checkoutDatum}}</td>
                <td>
                    <!-- read one product button -->
                    <a (click)="readOneBooking(product.id)" class='btn btn-primary m-r-5px' style="color: white">
                        <span class='fa fa-eye'></span> Details
                    </a>
 
                    <!-- edit product button -->
                    <a (click)="updateBooking(product.id)" class='btn btn-info m-r-5px' style="color: white">
                        <span class='fa fa-edit'></span> Ändern
                    </a>
 
                    <!-- delete product button -->
                    <a (click)="deleteBooking(product.id)" class='btn btn-danger m-r-5px' style="color: white">
                        <span class='fa fa-trash'></span> Löschen
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>