<div class="row m-b-18px">
    <div class="col-md-12">
        <!-- button to create new product -->
        <a (click)="createBooking()" class='btn btn-primary pull-right' style="color: white">
            <span class='fa fa-plus-circle'></span> Neue Buchung
        </a>
    </div>
</div>
 
<h1>{{today}}</h1>
<h1>{{year}}</h1>
<h1>{{month}}</h1>
<h1>{{days}}</h1>
<h1>{{numberOfDays}}</h1>

<div class="month"> 
  <ul>
    <button (click)="loadPreviousMonth()" type="button" class="prev">&#10094;</button>
    <button (click)="loadNextMonth()" type="button" class="next">&#10095;</button>
    <li>{{month}}.<br><span style="font-size:18px">{{year}}</span></li>
  </ul>
</div>


<ul class="daysofmonth">
  <li></li>
  <li *ngFor="let day of days">{{day}}</li>
</ul>


<ul *ngFor="let room of rooms" class="occupation"> 

  <li>{{room}}</li>
  <li></li>
  <li>X</li>
  <li>X</li>
  <li>X</li>
  <li>X</li>
  <li>X</li>
  <li></li>
  <li></li>
  <li><span class="active">X</span></li>
  <li>X</li>
  <li>X</li>
  <li>X</li>
  <li>X</li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li>X</li>
  <li>X</li>
</ul> 




<div class="row">
    <div class="col-md-12">
 
        <!-- HTML table for our list of product records -->
        <table class='table table-hover table-responsive table-bordered'>
 
            <tr>
                <th>BuchungID</th>
                <th>Vorname</th>
                <th>Nachname</th>
        				<th>Erwachsene</th>
        				<th>Kinder</th>
        				<th>Von</th>
        				<th>Bis</th>
            </tr>
 
            <!-- Use *ngFor directive to loop throught our list of products. -->
            <tr *ngFor="let booking of bookingsOfMonth">
                <td>{{booking.buchungID}}</td>
                <td>{{booking.buchenderVorname}}</td>
                <td>{{booking.buchenderNachname}}</td>
                <td>{{booking.erwachsene}}</td>
                <td>{{booking.kinder}}</td>
                <td>{{booking.checkinDatum}}</td>
                <td>{{booking.checkoutDatum}}</td>
                <td>
                    <!-- read one product button -->
                    <a (click)="readOneBooking(product.id)" class='btn btn-primary m-r-5px' style="color: white">
                        <span class='fa fa-eye'></span> Details
                    </a>
 
                    <!-- edit product button -->
                    <a (click)="updateBooking(product.id)" class='btn btn-info m-r-5px' style="color: white">
                        <span class='fa fa-edit'></span> Ändern
                    </a>
 
                    <!-- delete product button -->
                    <a (click)="deleteBooking(product.id)" class='btn btn-danger m-r-5px' style="color: white">
                        <span class='fa fa-trash'></span> Löschen
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>